@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
}
body{
    background-image: url('images/liquid-cheese.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}

section, fullsection, AlwaysShowSection{
  color: #ffffff;
  min-height: 10vh;/*100vh;*/
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}
fullsection{
  min-height: 100vh;
  margin-bottom: -15%;
}

section .container{
  margin: 15%; /* HHow close to first element?*/
  margin-bottom: 7%; /* How close to each other?*/
}
fullsection h1{
  font-size: 3rem;
  margin: 0;
  width: 100%;
}

.grid-container {
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
}

.grid-element {
  align-self: center;
  height: 30px;
  margin: 3%;
}

.grid-element:nth-child(2n+3)::after{
  content:'';
  width:1px;
  height:100%;
  display:block;
  background-color:black;
  position:absolute;
  margin-left:-7px;
  top:0;
}

progress{
  width:100%;
  height:40px
}
.column{
  width: 50%;
  height: 100%;
  display: table-cell;
  float: left;
  vertical-align: middle;
  line-height: 300px;
}

.column h2{
  font-size: 2.7em;
  text-align: center;
  height: 100%;
  vertical-align: middle;
  text-transform: uppercase;

}
.border-right{
  border-right: 4px solid white;
}
.border-sides{
  border-left: 4px solid white;
  border-right: 4px solid white;
}
span{
  display: inline-block;
  vertical-align: middle;
  line-height: 18px; /* <-- adjust this */
}
section h2{
  font-size: 2.7em;
  text-align: center;
  height: 100%;
  vertical-align: middle;
  text-transform: uppercase;
}
section h3{
  font-size: 1em;
  padding: 20px;
}
section .text-container{
   display: flex;
   align-items: right;
}
section .text-container .text-box{
  margin: 0;
  padding: 2%;
  width: 33%;
  align-items: right;
  text-align: center;
  /*background: #00c2cb;*/
}
section .text-container .text-box h3{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
section .text-box {
  width: 33%;
}

@media (max-width: 900px){
  section h1{
    font-size: 2rem;
    text-align: center;
  }
  section .text-container{
    flex-direction: column;
  }
}

.reveal{
  position: relative;
  opacity: 0;
  transition: 0.75s all ease;
}
AlwaysShowSection .reveal{
  opacity: 1;
}
.reveal.active{
  opacity: 1;
}
/*.wave {
  background-image: url(images/liquid-cheese.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}*/
.circles {
  opacity: 0;
  transition: 0.75s all ease;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
}
.circles.active {
  opacity: 1;
}